:root {
  --dl-color-gray-500: #595959;
  --dl-color-gray-700: #999999;
  --dl-color-gray-900: #D9D9D9;
  --dl-size-size-large: 144px;
  --dl-size-size-small: 48px;
  --dl-color-danger-300: #A22020;
  --dl-color-danger-500: #BF2626;
  --dl-color-danger-700: #E14747;
  --dl-color-gray-black: #000000;
  --dl-color-gray-white: #FFFFFF;
  --dl-size-size-medium: 96px;
  --dl-size-size-xlarge: 192px;
  --dl-size-size-xsmall: 16px;
  --dl-space-space-unit: 16px;
  --dl-color-primary-100: #003EB3;
  --dl-color-primary-300: #0074F0;
  --dl-color-primary-500: #14A9FF;
  --dl-color-primary-700: #85DCFF;
  --dl-color-success-300: #199033;
  --dl-color-success-500: #32A94C;
  --dl-color-success-700: #4CC366;
  --dl-size-size-xxlarge: 288px;
  --dl-size-size-maxwidth: 1400px;
  --dl-radius-radius-round: 50%;
  --dl-space-space-halfunit: 8px;
  --dl-space-space-sixunits: 96px;
  --dl-space-space-twounits: 32px;
  --dl-radius-radius-radius2: 2px;
  --dl-radius-radius-radius4: 4px;
  --dl-radius-radius-radius8: 8px;
  --dl-space-space-fiveunits: 80px;
  --dl-space-space-fourunits: 64px;
  --dl-space-space-threeunits: 48px;
  --dl-space-space-oneandhalfunits: 24px;
}
.button {
  color: var(--dl-color-primary-500);
  display: inline-block;
  padding: 0.5rem 1rem;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: var(--dl-color-gray-white);
}
.input {
  color: var(--dl-color-gray-white);
  width: 100%;
  cursor: auto;
  padding: var(--dl-space-space-halfunit);
  font-family: Noto Sans;
  border-color: var(--dl-color-gray-white);
  border-style: dotted;
  border-width: 1px;
  background-color: transparent;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.input:active {
  color: var(--dl-color-primary-500);
  border-width: 0px;
}
.input:focus {
  color: var(--dl-color-primary-500);
  border-color: var(--dl-color-primary-500);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: var(--dl-color-gray-white);
}
.textarea {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.list {
  width: 100%;
  margin: 1em 0px 1em 0px;
  display: block;
  padding: 0px 0px 0px 1.5rem;
  list-style-type: none;
  list-style-position: outside;
}
.list-item {
  display: list-item;
}
.teleport-show {
  display: flex !important;
  transform: none !important;
}
.error {
  color: var(--dl-color-danger-500);
  margin: 3;
  font-size: small;
  font-style: normal;
  font-family: Noto Sans;
  font-weight: 700;
}
.preffix {
  color: white;
}
.white_button {
  color: var(--dl-color-primary-500);
  display: inline-block;
  padding: 0.5rem;
  font-style: normal;
  font-family: Noto Sans;
  font-weight: 600;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: var(--dl-color-gray-white);
}
.white_button:hover {
  border-radius: var(--dl-radius-radius-radius4);
}
.transparent_button {
  color: var(--dl-color-gray-white);
  display: inline-block;
  padding: 0.5rem;
  font-style: normal;
  font-family: Noto Sans;
  font-weight: 700;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: transparent;
}
.transparent_button:hover {
  color: var(--dl-color-primary-500);
  font-weight: 600;
  background-color: var(--dl-color-gray-white);
}
.transparent_button_small {
  color: var(--dl-color-gray-white);
  display: inline-block;
  padding: 0.2rem;
  font-style: normal;
  font-family: Noto Sans;
  font-weight: 700;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: transparent;
}
.transparent_button_small:hover {
  color: var(--dl-color-primary-500);
  font-weight: 600;
  background-color: var(--dl-color-gray-white);
}
.common_text {
  color: var(--dl-color-gray-white);
  width: 100%;
  font-style: normal;
  font-family: Noto Sans;
  font-weight: 500;
}
.container_data {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.container_button_bottom {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  justify-content: flex-end;
}
.container_title {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  padding-top: 0px;
}
.container_common_horisontal {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: stretch;
  align-items: center;
  padding-top: 0px;
  justify-content: flex-start;
}
.container_sub_data_horizontal {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-self: stretch;
  align-items: center;
  padding-top: 0px;
  padding-left: var(--dl-space-space-twounits);
  justify-content: flex-start;
}
.container_header {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-threeunits);
  align-items: center;
  padding-top: 0px;
  margin-bottom: var(--dl-space-space-unit);
}
.container_home {
  flex: 0;
  width: 40%;
  display: flex;
  margin-top: var(--dl-space-space-sixunits);
  align-items: stretch;
  flex-direction: column;
  justify-content: flex-start;
}
.container_sub_data_vertical {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-twounits);
  flex-direction: column;
}
.container_list_element {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.container_list_element_click {
  gap: var(--dl-space-space-halfunit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.container_list_element_click:hover {
  border-color: white;
  border-style: dotted;
  border-width: 1px;
  padding-left: var(--dl-space-space-halfunit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-halfunit);
}
.Heading {
  font-size: 32px;
  font-family: Inter;
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.Content {
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
