.oauthbase-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-primary-500);
}

.oauthbase-container1 {
  flex: 0 0 auto;
  display: flex;
  margin-top: var(--dl-space-space-sixunits);
  align-items: stretch;
  flex-direction: column;
  justify-content: flex-start;
}
.oauthbase-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-threeunits);
  align-items: flex-start;
  padding-top: 0px;
  margin-bottom: 0px;
}
.oauthbase-text {
  color: rgb(255, 255, 255);
  align-self: flex-start;
  text-align: left;
  font-family: Noto Sans;
}
.oauthbase-text01 {
  color: rgb(255, 255, 255);
  align-self: flex-start;
  text-align: left;
  font-family: Noto Sans;
}
.oauthbase-container3 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  padding-top: 0px;
  margin-bottom: 0px;
}
.oauthbase-text02 {
  color: rgb(255, 255, 255);
  align-self: flex-start;
  text-align: left;
  font-family: Noto Sans;
}
.oauthbase-text03 {
  color: rgb(255, 255, 255);
  margin-top: 0px;
  font-family: Noto Sans;
  margin-bottom: 0px;
}
.oauthbase-container4 {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: flex-start;
  justify-content: center;
}
.oauthbase-button {
  color: var(--dl-color-primary-500);
  font-size: 15px;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-family: Noto Sans;
  font-weight: 700;
  border-width: 0px;
  background-color: var(--dl-color-gray-white);
}
.oauthbase-button:hover {
  color: var(--dl-color-primary-500);
  background: white;
}
.oauthbase-button1 {
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-family: Noto Sans;
  font-weight: 700;
  border-width: 0px;
  background-color: transparent;
}
.oauthbase-button1:hover {
  color: var(--dl-color-primary-500);
  background: white;
}
