<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>newproject - keep_my_art</title>
    <meta property="og:title" content="newproject - keep_my_art" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }
    </style>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link rel="stylesheet" th:href="@{/styles/base/style.css}" />
  </head>
  <body>
    <div>
      <link th:href="@{/styles/new_project/newproject.css}" rel="stylesheet" />

      <div class="newproject-container">
        <div id="container" class="container_home">
          <div id="header_container" class="container_header">
            <span id="prefix_title" class="preffix">❯</span>
            <span id="title" class="common_text">
              Давайте добавим Ваш проект
            </span>
          </div>
          <form id="new_project_form" class="container_data" th:object="${newKeepProject}" method="POST">
            <input
              type="text"
              id="project_name_input"
              placeholder="Имя проекта"
              class="input"
              th:field="*{name}"
            />
            <span id="project_name_error" class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Text</span>
            <div id="local_path_container" class="container_data">
              <div id="local_path_title_container" class="container_title">
                <span id="local_header_prefix" class="preffix">❯❯</span>
                <span id="local_header_title" class="common_text">
                  Локальное хранилище
                </span>
              </div>
              <div
                id="local_path_new_and_list_container"
                class="container_sub_data_vertical"
              >
                <div id="local_path_new_source" class="container_data">
                  <div
                    id="local_path_input_container"
                    class="container_common_horisontal"
                  >
                    <input
                      type="text"
                      id="local_path_input"
                      placeholder="Скопируйте сюда путь к проекту"
                      class="input"
                    />
                    <button
                      id="add_local_path"
                      type="button"
                      class="white_button"
                      th:onclick="addLocalPath()"
                    >
                      &nbsp;✛&nbsp;
                    </button>
                  </div>
                  <span id="local_path_error" class="error" style="display: none">Text</span>
                </div>
                <div id="local_list_container" class="container_data" th:each="source : ${localSourceList}">
                  <div class="container_list_element">
                    <span class="preffix">―</span>
                    <span class="common_text" th:text="${source.sourcePath}">Test</span>
                    <button type="button" class="transparent_button_small" th:onclick="removeLocalPath([[${source.sourcePath}]])">
                      &nbsp;✖&nbsp;
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div id="cloud_resources_containers" class="container_data">
              <div id="cloud_header" class="container_title">
                <span id="cloud_title_prefix" class="preffix">❯❯</span>
                <span id="cloud_title_title" class="common_text">Облако</span>
              </div>
              <div
                id="cloud_list_container"
                class="container_sub_data_vertical"
              >
                <div
                  id="reg_cloud_button_list_container"
                  class="container_common_horisontal"
                >
                  <button
                    id="add_yandex_cloud"
                    type="button"
                    class="transparent_button"
                    th:onclick="redirect([[${yandexSource}]])"
                  >
                    + Yandex Disk
                  </button>
                  <button
                    id="add_google_drive"
                    type="button"
                    class="transparent_button"
                    th:onclick="redirect([[${yandexSource}]])"
                  >
                    + Google Drive
                  </button>
                </div>
                <div id="registered_cloud_users" class="container_data" th:each="source : ${cloudSourceList}">
                  <div class="container_list_element">
                    <span class="preffix">―</span>
                    <span class="common_text" th:text="|${source.userName}: ${source.sourceType}|">Test</span>
                    <button type="button" class="transparent_button_small" th:onclick="removeCloudSource([[${source.userName}]],[[${source.sourceType}]])">
                      &nbsp;✖&nbsp;
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div id="save_button_container" class="container_button_bottom">
              <button id="save_button" type="submit" class="white_button">
                Сохранить
              </button>
              <button id="reset_button" type="reset" class="transparent_button">
                Отмена
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script th:inline="javascript">

      var home_url = /*[[${@webUrls.NEW_PROJECT}]]*/ ""

      function redirect(source){
        var url = /*[[${@webUrls.OAUTH2}]]*/ "";
        window.location.href = "/" + url + "?source=" + source;
      }

      function addLocalPath(){
        const localPathValue = document.getElementById("local_path_input").value;
        if( isEmpty(localPathValue) ){
          const error_node = document.getElementById("local_path_error");
          error_node.style.display = "block";
          error_node.textContent = "Локальный путь не может быть пустым!"
        } else {
          var url = /*[[${@webUrls.ADD_LOCAL_PATH}]]*/ "";
          window.location.href = home_url + "/" + url + "?localPath=" + localPathValue;
        }
      }

      function removeLocalPath(localPathValue){
        var url = /*[[${@webUrls.REMOVE_LOCAL_PATH}]]*/ "";
        window.location.href = home_url + "/" + url + "?localPath=" + localPathValue;
      }

      function removeCloudSource(userName, cloudType){
        var url = /*[[${@webUrls.REMOVE_CLOUD}]]*/ "";
        window.location.href = home_url + "/" + url + "?userName=" + userName + "&cloudType=" + cloudType;
      }

      function isEmpty(str) {
        return !str.trim().length;
      }
    </script>
  </body>
</html>
