<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
<body>
<h1>Welcome to...</h1>
<div id ="content">
</div>

<div align="center">
    <h1>Spring Boot Form Demo</h1>
    <a th:href="${oauth_link}">Click here to register</a>
</div>
<!--<img th:src="@{/images/TacoCloud.png}"/>-->
</body>
</html>