<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>oauthbase - keep_my_art</title>
    <meta property="og:title" content="oauthbase - keep_my_art" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
        html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
        html {
            font-family: Inter;
            font-size: 16px;
        }

        body {
            font-weight: 400;
            font-style:normal;
            text-decoration: none;
            text-transform: none;
            letter-spacing: normal;
            line-height: 1.15;
            color: var(--dl-color-gray-black);
            background-color: var(--dl-color-gray-white);

        }
    </style>
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
            data-tag="font"
    />
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
            data-tag="font"
    />
    <link rel="stylesheet" th:href="@{/styles/base/style.css}" />
</head>
<body>
    <div>
        <link th:href="@{/styles/oauth/oauthbase.css}" rel="stylesheet" />

        <div class="oauthbase-container">
            <div id="container" class="oauthbase-container1">
                <div id="oauth_intro_container" class="oauthbase-container2">
                    <span id="attention_text" class="oauthbase-text">&gt;&nbsp;</span>
                    <span id="attention_description" class="oauthbase-text01">
                  Внимание!
                </span>
                </div>
                <div id="oauth_description_container" class="oauthbase-container3">
                <span id="prefix_descrioption" class="oauthbase-text02">
                  &gt;&nbsp;
                </span>
                    <span id="description_text" class="oauthbase-text03">
                  <span>
                    Приложение запросит разрешение на использование вашего облака
                    для
                  </span>
                  <br />
                  <span>хранения и обновления файлов Вашего проекта.</span>
                  <br />
                  <span>
                    Облачный сервис выделить для Вашего проекта отдельную&nbsp;
                  </span>
                  <span>директорию,</span>
                  <br />
                  <span>
                    приложение будет иметь доступ только для этой директории.
                  </span>
                </span>
                </div>
                <div id="buttons_container" class="oauthbase-container4">
                    <button
                            id="start_oauth"
                            type="submit"
                            class="oauthbase-button button"
                            th:onclick="redirect([[${oauthLink}]])"
                            th:text="${buttonName}"
                    >
                        Cloud
                    </button>
                    <button
                            id="cancel_oauth"
                            type="reset"
                            class="oauthbase-button1 button"
                    >
                        Отмена
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        function redirect(url){
            window.location.href = url;
        }
    </script>
</body>
</html>
