@import "theme-editor.css";
@import url('./main-layout.css');
@import url('@fontsource/arimo/index.css');    html {
      --lumo-border-radius-s: calc(var(--lumo-size-m) / 6);
      --lumo-border-radius-m: calc(var(--lumo-size-m) / 2);
      --lumo-border-radius-l: var(--lumo-size-m);
      --lumo-size-xl: 3rem;
      --lumo-size-l: 2.5rem;
      --lumo-size-m: 2rem;
      --lumo-size-s: 1.75rem;
      --lumo-size-xs: 1.5rem;
      --lumo-space-xl: 1.875rem;
      --lumo-space-l: 1.25rem;
      --lumo-space-m: 0.625rem;
      --lumo-space-s: 0.3125rem;
      --lumo-space-xs: 0.1875rem;
      --lumo-font-family: Arimo;

    }

    [theme~="dark"] {
      --lumo-base-color: hsl(214, 100%, 50%);
      --lumo-primary-color: hsl(214, 100%, 50%);
      --lumo-primary-color-50pct: hsla(214, 100%, 50%, 0.5);
      --lumo-primary-color-10pct: hsla(214, 100%, 50%, 0.1);
      --lumo-primary-text-color: hsl(214, 100%, 96%);
      --lumo-body-text-color: hsla(214, 100%, 98%, 0.9);
      --lumo-secondary-custom-color: hsla(213, 100%, 56%);
    }
