/*
 * This file has been created by the Vaadin Theme Editor. Please note that
 * manual changes to individual CSS properties may be overwritten by the theme editor.
 */
vaadin-button.transparent-button { background-color:rgba(0,0,0,0); }

vaadin-button.white_button { background-color:var(--lumo-primary-text-color); }

vaadin-button.white_button::part(label) {
  color:var(--lumo-base-color);
  font-weight:bold;
}

vaadin-horizontal-layout.list-element {
  font-size: var(--lumo-font-size-xs);
  gap: var(--lumo-space-xs);
  padding: 0 var(--lumo-size-xs);
}

vaadin-vertical-layout.element-project-list {
  background-color:var(--lumo-contrast-5pct);
  border-radius:var(--lumo-border-radius-m);
  gap:var(--lumo-space-xs);
}

vaadin-vertical-layout.list-root-container {
  background-color:var(--lumo-contrast-5pct);
  border-radius:var(--lumo-border-radius-m);
  gap:var(--lumo-space-xs);
}

vaadin-vertical-layout.root-container { gap:var(--lumo-space-xs); }
